* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
}


.menu-container {
    padding: 15px;
    background-color: #131313;
    color: #fff;
    height: 60px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-container .logo a{
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-container img {
    width: 50px;
    margin-right: 10px;
}

.menu-items {
    display: flex;
    list-style: none;
}


.menu-items li {
    list-style: none;
    margin-right: 25px;
}


.menu-items li:hover {
    text-decoration: none;
}

.menu-items li a, .logo a {
    text-decoration: none;
    color: #fff;
}

li a:visited, li a:active, .logo a {
    color: white;
}

.menu-mobile {
    display: none;
}

.text {
    color: #fff;
    text-align: center;
    padding: 50px;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color: #ffff;
    text-align: center;
    margin-bottom: 20px;
}

.table-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.media-menu {
    width: 90%;
}

.media-item {
    height: 70px;
    font-size: 35px;
    border: 2px solid #40f092;
    margin-bottom: 10px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #fff;
}

.media-item:hover {
    background-color: #40f092;
    color: #000;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.media-item a:visited, .media-item a:active {
    color: white;
}

.media-item img {
    height: 40px;
}

@media screen and (max-width: 480px) {
    .logo {
        margin: auto;
    }

    .menu-desktop {
        display: none;
    }

    .menu-mobile {
        display: flex;
        justify-content: center;
        margin: 5px;
        font-size: 14px;
    }

    .menu-items {
        flex-direction: column;
    }

    .menu-items li {
        display: flex;
        justify-content: center;
        margin-right: 0px;
    }

    .menu-mobile li a {
        list-style: none;
        text-decoration: none;
        font-size: 20px;
    }

    .multi-column {
        display: flex;
        flex-direction: column;
    }

    .text{
        font-size: 30px;
    }

    .table-container {
        display: flex;
        flex-direction: column;
    }

    iframe {
        width: 100%;
    }


}