* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.menu-container {
    padding: 15px;
    background-color: #131313;
    color: #fff;
    height: 60px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-container .logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-container img {
    width: 50px;
    margin-right: 20px;
}

.menu-items {
    display: flex;
    margin-right: 10px;
    gap: 10px;
    list-style: none;
}

.menu-container li {
    list-style: none;
    margin-right: 25px;
}

.menu-container li a {
    text-decoration: none;
    color: #fff;
}

li a:visited, li a:active {
    color: white;
}

.menu-mobile {
    display: none;
}

.home-text {
    color: #fff;
    text-align: center;
    animation: fadeInLeft 2s ease-out;
}

.photo img {
    width: 100%;
}


@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 430px) {
    .logo{
        margin: auto;
    }
    .menu-desktop {
        display: none;
    }

    .menu-mobile {
        display: flex;
        justify-content: center;
        margin-top: 5px;
        font-size:14px ;
    }

    .menu-items{
        flex-direction: column;
    }

    .menu-mobile li a {
        list-style: none;
        text-decoration: none;
        font-size: 20px;
    }

}