* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
}

.menu-container {
    padding: 15px;
    background-color: #131313;
    color: #fff;
    height: 60px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-container .logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-container img {
    width: 50px;
    margin-right: 20px;
}

.menu-container ul {
    display: flex;
    justify-content: end;
}

.menu-container li {
    list-style: none;
    margin-right: 25px;
}

.menu-container li a {
    text-decoration: none;
}

li a:visited,li a:active {
    color: white;
}

/* table */

table{
    border: 2px solid #fff;
}