* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
    height: 100vh;
    background-color: black;
}

/* nav */

nav {
    padding: 15px;
    background-color: #131313;
    color: #fff;
    height: 60px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    height: 100%;
    display: flex;
    align-items: center;
}

img {
    width: 50px;
    margin-right: 20px;
}

ul {
    display: flex;
    justify-content: end;
}

li {
    list-style: none;
    margin-right: 25px;
}

li a {
    text-decoration: none;
}

/* videos */

.videos_container {
    height: calc(100vh - 60px);
    display: flex;
    padding: 15px;
    z-index: -1;
}

.videos_container video {
    width: 50%;
}

.home_text {
    color: #2a006d;
    position: absolute;
    left: 10%;
    top: 20%;
    font-style: italic;
    font-size: 2.5em;
    text-shadow: 2px 2px 2px #ffffff;
}

/* pricing */

table {
    border: 2px solid black;
}

table td {
    border: 2px solid black;
}

/* testimonies */

.testimony-text{
    color: #fff;
}

.testimonies {
    width: 100%;
}

.testimonies ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.testimonies li {
    color: #000;
    display: grid;
    grid-template-columns: auto auto;
    height: 150px;
    width: 60%;
    margin: 5px;
    background-color: rgb(200, 199, 199);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px blue;
}

.testimonies li img {
    width: 150px;
}

.testimonies li .float-left {
    width: 50%;
}