* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
    height: 100vh;
    background-color: black;
}

nav {
    padding: 15px;
    background-color: #131313;
    color: #fff;
    height: 60px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    height: 100%;
    display: flex;
    align-items: center;
}

img {
    width: 50px;
    margin-right: 20px;
}

ul {
    display: flex;
    justify-content: end;
}

li {
    list-style: none;
    margin-right: 25px;
}

li a {
    text-decoration: none;
}

.videos_container {
    height: calc(100vh - 60px);
    display: flex;
    padding: 15px;
    z-index: -1;
}

.videos_container video {
    width: 50%;
}

.home_text{
    color: #2a006d;
    z-index: 100;
    position: absolute;
    left: 20%;
    top: 20%;
    font-style: italic;
    font-size: 40px;
    text-shadow: 2px 2px 2px #ffffff;
}


table {
    border: 2px solid black;
}

table td {
    border: 2px solid black;
}