* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

/* nav */

.menu-container {
    padding: 15px;
    background-color: #131313;
    color: #fff;
    height: 60px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-container .logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-container img {
    width: 50px;
    margin-right: 20px;
}

.menu-container ul {
    display: flex;
    justify-content: end;
}

.menu-container li {
    list-style: none;
    margin-right: 25px;
}

.menu-container li a {
    text-decoration: none;
}

 a:visited, a:active {
    color: white;
}



.testimony-text {
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin: 25px;
}

.testimonies {
    width: 90vw;
    padding: 20px;
    margin: auto;
}

.multi-column {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.container-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.item {
    color: #fff;
    border-radius: 15px;
    background-color: rgba(200, 199, 199, 0.5);
    box-shadow: 5px 5px 5px #40f092;
    padding: 20px;
}

.item-title{
    margin-bottom: 10px;
}

.testimonies div img {
    width: 150px;
    border-radius: 50%/100%;
}

/* media queries */
@media screen and (max-width: 800px){
    
 .menu-container .logo{
    display: none;
    width: 100vw;
 }
 .menu-container ul li{
font-size: 20px;
 }
}